<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="container">
    <h1><%= data.username %> Profile</h1>
    <div class="form-group">
        <form action="/edit/<%= data.id %>" method="POST" autocomplete="off">
            <label for="username">Email/Username</label>
            <input type="text" class="form-control" name="username" placeholder="username" value="<%= data.username %>"required>
            <label for="firstname">Firstname</label>
            <input type="text" class="form-control" name="firstname" value="<%= data.firstname %>" placeholder="firstname">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" value="<%= data.lastname %>" placeholder="lastname">
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>

    <a href="/">Home!</a>
    <a href="/register">Sign up!</a>
    <a href="/login">Login!</a>
    <a href="/logout">Logout!</a>

</div>