<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="container">
<h1>LIST OF USERS:</h1>
<ul>
    <% Userdata.forEach( function(user) { %>
        <!-- <li> <%= user.username %> </li> -->
        <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Role</th>
        </thead>
        <tbody>
            <th scope="row"><%= user.id %></th>
            <td><%= user.username %></td>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <td><%= user.role %></td>
            <td><a href="/edit/<%= user.id %>">Edit!</a>
                <a href="/delete/<%= user.id %>">Delete!</a>
            </td>
        </tbody>
    </table>
    <% }) %>
</ul>
    <a href="/">Home!</a>
    <a href="/register">Sign up!</a>
    <a href="/logout">Logout!</a>
</div>